@inject IAuthorizedUserService AuthorizedUserService
@using Services.Interface
@using Domain.Enum
@model Domain.Course
@{

    <div class="@*card*@ mb-3" style="max-width: 640px;">
        <div>
            <div class="row">
                <div class="col-md-8">
                    <h3 class="text-center">@Html.DisplayFor(model => model.Name)</h3>
                    <p class="card-text ml-5">@Html.DisplayFor(model => model.Description)</p>
                    <h5 class="ml-5">@Html.DisplayNameFor(model => model.CourseSkills)</h5>
                    @if (Model.CourseSkills.Count == 0)
                    {
                        <p class="ml-4 text-center">No skills</p>
                    }
                    else
                    {
                        @foreach (var skill in Model.CourseSkills)
                        {
                            <p class="card-text ml-4 text-center">@skill.Name @skill.Points</p>
                        }
                    }
                    <h5 class="ml-5">@Html.DisplayNameFor(model => model.CourseMaterials)</h5>
                    @if (Model.CourseMaterials.Count == 0)
                    {
                        <p class="ml-4 text-center">No materials in course</p>
                    }
                    else
                    {
                        @foreach (var material in Model.CourseMaterials)
                        {
                            <p class="ml-4 text-center">@material.Type: "@material.Title"</p>
                        }
                    }
                </div>
                <div class="col-2" >
                    <img src="https://picsum.photos/300/200" class="rounded" alt="...">
                </div>
                <div>
                    @if (AuthorizedUserService.Account != null && @Model.Status != CourseStatus.Deleted)
                    {
                        if (AuthorizedUserService.Account.UserCourses.FirstOrDefault(c => c.Key == Model.Id).Value != null)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-controller="Course" asp-action="EditForm" asp-route-id="@Model.Id">
                                        <input type="submit" class="btn btn-outline-primary m-2 ml-5" style="width: 320px" value="Edit course" />
                                    </form>
                                </div>
                                <div class="col-md-4 offset-md-2">
                                    @{
                                        if (Model.CourseMaterials.Count != 0)
                                        {
                                            <form asp-controller="Material" asp-action="Index" asp-route-courseId="@Model.Id" asp-route-materialIndex="0">
                                                <input type="submit" class="btn btn-outline-primary m-2 ml-5" style="width: 320px" value="Continue" />
                                            </form>
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Course" asp-action="AddCourseToUser" asp-route-courseId="@Model.Id">
                                <input type="submit" class="btn btn-outline-primary m-1 ml-5" style="width: 700px" value="Register on course" />
                            </form>
                        }
                    }
                    else if (@Model.Status == CourseStatus.Deleted)
                    {
                        <strong class="m-2 mx-5">Sorry, course is deleted</strong>
                    }
                    else
                    {
                        <form asp-area="Identity" asp-controller="Identity" asp-action="LoginForm">
                            <button type="submit" class="btn btn-outline-primary mt-2 ml-5" style="width: 700px">Please login</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
}
