@model RegisterModel
<h1>Registration</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Identity" asp-controller="Identity" asp-action="Register">
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter name" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Name)</span><br />
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", placeholder = "Enter email" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span><br />
                @Html.LabelFor(x => x.Password)
                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "Enter password" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.Password)</span><br />
                @Html.LabelFor(x => x.ConfirmPassword)
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Repeat password" })
                <span class="text-danger">@Html.ValidationMessageFor(x => x.ConfirmPassword)</span><br />
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <input type="submit" class="btn btn-outline-primary" value="Register" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}