@inject IService<Domain.Course> CourseService
@inject IAuthorizedUserService AuthorizedUser
@using Services.Interface
@model (Domain.CourseMaterials.ArticleMaterial material, int materialIndex)

<div class="row">
    <div class=" col col-lg-2 ">
        @{
            var course = await CourseService.GetById(Convert.ToInt32(ViewData["courseId"]));
            var userProgressInCourse = AuthorizedUser.Account.UserCourses
                .FirstOrDefault(c => c.Key == course.Id).Value.Percentage;
            var progressUnit = 100f / course.CourseMaterials.Count;
            var completedMaterials = Convert.ToInt32(userProgressInCourse / progressUnit);
        }
        @await Html.PartialAsync("_MaterialsListSideBarPartial", (course.CourseMaterials, course.Id, Model.material.Id, completedMaterials))
    </div>
    <div class="col">
        <h4>Article</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => Model.material.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => Model.material.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => Model.material.Link)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => Model.material.Link)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => Model.material.DateOfPublication)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => Model.material.DateOfPublication)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => Model.material.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => Model.material.Id)
            </dd>
        </dl>
        <div class="row">
            <form class="col-md-4 offset-md-4" asp-controller="Course" asp-action="AddUserProgress" asp-route-courseId="@ViewData["courseId"]" asp-route-materialIndex="@Model.materialIndex">
                <input type="submit" class="btn btn-success" value="Got it">
            </form>
        </div>
    </div>
</div>

